<app-workspace-nav>
    <app-general-nav></app-general-nav>
</app-workspace-nav>
<div class='workspace'>
    <div class='main'>

        <app-experimental-menu titulo="Usuarios" i18n-titulo="@@Configuración general">

            <button (click)='crearUsuario()'>
                <mat-icon svgIcon="add-box"></mat-icon>
                <label i18n="@@Crear usuario">Crear Usuario</label>
            </button>

            <button (click)='refrescar()'>
                <mat-icon svgIcon="refresh"></mat-icon>
                <label i18n="@@Refrescar">Refrescar</label>
            </button>

            <button (click)='eliminar()' [disabled]='seleccion.length == 0'>
                <mat-icon svgIcon="delete"></mat-icon>
                <label i18n="@@Eliminar">Eliminar</label>
            </button>
        
        </app-experimental-menu>

        <div class='content' >

            <!-- FILTRO -->
            <div style="margin-bottom: 20px;">

                <h5 *ngIf="filters.length < 1" style="margin: 0 0 3px 0;" i18n="@@Búsqueda">Búsqueda</h5>
                <h5 *ngIf="filters.length > 0" style="margin: 0 0 12px 0;" i18n="@@Búsqueda">Búsqueda</h5>

                <div *ngFor="let f of filters">

                    <div class="iigwo-input inline">
                        <select [(ngModel)]="f.campo">
                            <option i18n="@@usuarios.Id" value="id">Id</option>
                            <option i18n="@@usuarios.Nombre" value="nombre">Nombre</option>
                            <option i18n="@@usuarios.Usuario" value="usuario">Usuario</option>
                            <option i18n="@@usuarios.Correo electrónico" value="email">Correo electrónico</option>
                            <option i18n="@@usuarios.Rol" value="rol">Rol</option>
                        </select>
                    </div>

                    <div class="iigwo-input inline">
                        <select [(ngModel)]="f.operador">
                            <option value="==" i18n="@@Igual">Igual</option>
                            <option value=">" i18n="@@Mayor">Mayor</option>
                            <option value=">=" i18n="@@Mayor o Igual">Mayor o Igual</option>
                            <option value="<" i18n="@@Menor">Menor</option>
                            <option value="<=" i18n="@@Menor o Igual">Menor o Igual</option>
                            <option value="startsWith" i18n="@@Comienza con">Comienza con</option>
                            <option value="endsWith" i18n="@@Termina con">Termina con</option>
                            <option value="includes" i18n="@@Contiene">Contiene</option>
                        </select>
                    </div>

                    <div class="iigwo-input inline">
                        <input placeholder="Texto / Número" i18n-placeholder="Texto / Número" [(ngModel)]="f.valor">
                    </div>

                    <button class="iigwo small" style="padding:0;min-height: 26px;" (click)="agregarFiltro()">
                        <mat-icon svgIcon="add"></mat-icon>
                    </button>

                    <button class="iigwo small" style="padding:0;min-height: 26px;" (click)="eliminarFiltro(f)">
                        <mat-icon svgIcon="remove"></mat-icon>
                    </button>

                    <br>

                </div>

                    
                <button *ngIf='filters.length > 0' class="accent iigwo small" (click)="aplicarFiltros()">Aplicar filtros</button>
                <button *ngIf='filters.length > 0' class="iigwo small" (click)="limpiarFiltros()">Limpiar filtros</button>
                <p *ngIf='filters.length == 0' style="font-size:11px;">
                    Agrega uno o más filtros para facilitar la búsqueda de requerimientos
                </p>
                <button *ngIf='filters.length == 0' class="iigwo small" (click)="agregarFiltro()">Agregar filtro</button>


            </div>

            <!-- TABLA CON REGISTROS -->
            <div style="display:flex; flex-flow: column; overflow: auto;">
                <table class='big' *ngIf="!(usuarios.length == 0)">
                    <tr>
                        <th class=''><input type="checkbox" [checked]="estanTodosSeleccionados()"
                                (change)="checkAll($event)"></th>
                        <th class='' i18n="@@usuarios.Id">Id</th>
                        <th class='' i18n="@@usuarios.Nombre">Nombre</th>
                        <th class='' i18n="@@usuarios.Usuario">Usuario</th>
                        <th class='' i18n="@@usuarios.Correo electrónico">Correo electrónico</th>
                        <th class='' i18n="@@usuarios.Rol">Rol</th>
                    </tr>
                    <tr *ngFor='let e of usuarios | slice:paginacion.begin:paginacion.end'>
                        <td class=''><input type="checkbox" [checked]="estaSeleccionado(e.idUsuario)"
                                (change)="check($event, e.idUsuario)"></td>
                        <td class=''><a (click)="editarUsuario(e.idUsuario)">{{e.idUsuario}}</a></td>
                        <td class=''><a (click)="editarUsuario(e.idUsuario)">{{e.nombre}}</a></td>
                        <td class='accent'>{{e.usuario}}</td>
                        <td class='accent'>{{e.correoElectronico}}</td>
                        <td class='accent'>{{e.rol}}</td>
                    </tr>

                    <tr>
                        <td colspan="99" style="text-align: right;line-height: 24px;" class="mini">
                            <label i18n="@@Registros por página">
                            Registros por página</label>
                            <select [(ngModel)]="paginacion.size" (ngModelChange)="paginacion.fix()"
                                style="margin: 0 8px; font-family: regular; height: 24px;">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            {{paginacion.begin + 1}}-{{paginacion.end}} de {{paginacion.array.length}}
                            <button class="iigwo small" style="margin: 0 0 0 8px; padding:0; height: 24px; min-height: 24px;"
                                (click)="paginacion.back();">
                                <mat-icon svgIcon="arrow-back"></mat-icon>
                            </button>
                            <button class="iigwo small" style="margin: 0 0 0 8px; padding:0; height: 24px; min-height: 24px;"
                                (click)="paginacion.forward();">
                                <mat-icon svgIcon="arrow-forward"></mat-icon>
                            </button>
                        </td>
                    </tr>

                </table>
            </div>

            <!-- MENSAJE DE NO HAY REGISTROS -->
            <div *ngIf="usuarios.length == 0">
                <h3 style="margin:12px 0 6px 0" i18n="@@Sin resultados">Sin resultados</h3>
                <p style="max-width:396px;" i18n="No hay usuarios dentro del criterio de búsqueda">No hay usuarios
                    dentro del criterio de búsqueda. Asegurate de que los nombres son los correctos y que están buscando
                    en el campo apropiado</p>
            </div>

            <p style="margin-top: -6px; margin-bottom: 18px; font-size: 11px;">
                <span i18n="@@siNecesitaAyudaPuedeLeerEl">Si necesita ayuda puede leer el
                </span>
                <a target="_blank" [href]='utilService.rutaManual("ManualAdministracionGeneral")' i18n="@@manualAdministracionGeneral">manual de Administración General</a>
            </p>
            
        </div>

        <!--Cargando-->
        <div class='iigwo-loading' *ngIf="cargando">
            <mat-spinner></mat-spinner>
        </div>
    </div>
</div>