<h2 mat-dialog-title>{{titulo}}</h2>

<mat-dialog-content>
    <div class="iigwo-input" style="margin-right: 0; min-width: 240px;">
        <label>Paciente</label>
        <select [(ngModel)]="pago.paciente" [disabled]="esPaciente">
            <option *ngFor="let p of pacientes" [ngValue]="p">{{p.nombre}}</option>
        </select>
    </div>

    <div class="iigwo-input" style="margin-right: 0;">
        <label>Fecha</label>
        <input type="date" [(ngModel)]="pago.fecha" [readOnly]="esPaciente">
    </div>

    <div class="iigwo-input" style="margin-right: 0;">
        <div class="wrapper">
            <label>Monto</label>
        </div>
        
        <div class="currency">
            <input type="text" [ngModel]="!esPaciente ? pago.monto : (pago.monto | currency : 'MXN' : 'symbol' : undefined : 'es-Mx')"
                (ngModelChange)="pago.monto = $event"
                (keypress)="utilService.validateInput($event)" [readOnly]="esPaciente">
            <span [hidden]='esPaciente'>$</span>
        </div>
    </div>

    <div class="iigwo-input" style="margin-right: 0;">
        <label>Tipo</label>
        <select [(ngModel)]="pago.tipoMovimiento" [disabled]="esPaciente">
            <option *ngFor="let t of tiposPago" [ngValue]="t">{{t.descripcion}}</option>
        </select>
    </div>

    
</mat-dialog-content>

<mat-dialog-actions>

    <button *ngIf="!creando && !esPaciente" class="iigwo" (click)='eliminar()'>Eliminar</button>
    <button class="iigwo" style="margin-left:auto;" [ngStyle]="{'margin-right': esPaciente ? '0' : ''}" (click)='cerrar()'>{{creando ? "Cancelar" : "Cerrar"}}</button>
    <button *ngIf="creando && !esPaciente" class="iigwo accent" style="margin-right:0;" (click)='crear()'>Crear</button>
    <button *ngIf="!creando && !esPaciente" class="iigwo accent" style="margin-right:0;" (click)='editar()'>Guardar cambios</button>

</mat-dialog-actions>

<!-- CARGANDO-->
<div class='iigwo-loading' *ngIf="cargando">
    <mat-spinner></mat-spinner>
</div>