<div class="background">



    <!--<div class="hero">
        <img src="{{baseHref}}assets/img/cover.jpg" style="
            object-fit: cover;
            width: 100%;
            height: 100%;
        ">
    </div>-->

    <div class="main">
        <div class="square"></div>
        <div class="square"></div>
        <div class="logo"></div>
        <form>
          <!-- <img src="{{baseHref}}assets/img/company-logo-label.png"style="
           width: 30%;
        height: 30%;"
           >-->
            <h1 i18n="@@login.slogan1">Crossfit</h1>
            <p i18n="@@login.slogan2">Ingresa tus credenciales para ingresar</p>
            <input placeholder="Usuario" i18n-placeholder="@@Usuario" [(ngModel)]="user.usuario" [ngModelOptions]="{standalone: true}"
                autocapitalize="none">
            <input placeholder="Contraseña" i18n-placeholder="@@Contraseña" type="password" [(ngModel)]="user.contrasenia"
                [ngModelOptions]="{standalone: true}">
            <button i18n="@@login.login" (click)="ingresar()">Ingresar</button>
            <a i18n="@@login.forgotPassword" (click)="recuperar()">¿Olvidaste tu contraseña?</a>
        </form>
        <!--<div class="langs">
            <a (click)="changeLang('en')">en</a>
            <a (click)="changeLang('es')">es</a>
        </div>-->
    </div>
    <div class='iigwo-loading' *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
</div>